body {
  background-color: #c34d40;
  color: white;
  font-family: 'Lato';
}

ul {
  padding: 0px;
  margin: 0px;
  width: 100% !important;
  list-style-type: none !important;
}

.wi {
  font-size: 50px;
}

.weather-container {
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
  margin: 0 auto;
}

.city-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.city-li:first-child i {
  font-size: 200px;
  padding-bottom: 50px;
}

.city-ul li {
  flex: 1;
  margin: auto;
}

.city-ul li > * {
  padding: 8px;
}

.city-name {
  padding-top: 100px;
}

/*  Media Queries  */

@media (max-width: 1024px) {
  .weather-container {
    padding-top: 100px;
  }
  .city-ul li:first-child {
    width: 100%;
    flex: none;
  }
}

@media (max-width: 768px) {
  .weather-container {
    padding-top: 50px;
  }
  .city-ul li:first-child {
    width: 100%;
    flex: none;
  }
  .city-ul li {
    width: 50%;
    flex: none;
  }
}

@media (max-width: 600px) {
  .weather-container {
    padding: 0px;
  }
  .city-ul {
    display: block;
  }
}
